h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(39, 39, 39);
}

.task-list {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-container {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  background-color: #c8c6c6;
  color: #000;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.edit-btn {
  background-color: #dac894;
  color: white;
  border: none;
  border-radius: 4px;
}

.delete-Btn {
  background-color: #ef665c;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

li a {
  font-size: 16px;
  color: #1976d2;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
